<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.yixing.dao.ActivityInfoMapper">
  <resultMap id="BaseResultMap" type="com.weixin.yixing.entity.ActivityInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="introduction_of_activity" jdbcType="VARCHAR" property="introductionOfActivity" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, activity_id, activity_name, deadline, introduction_of_activity, image, create_time, 
    modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activity_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectActivityInfoByActivityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from activity_info
    where activity_id = #{activityId,jdbcType=INTEGER}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activity_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weixin.yixing.entity.ActivityInfo">
    insert into activity_info (id, activity_id, activity_name, 
      deadline, introduction_of_activity, image, 
      create_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=VARCHAR}, #{activityName,jdbcType=VARCHAR}, 
      #{deadline,jdbcType=TIMESTAMP}, #{introductionOfActivity,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weixin.yixing.entity.ActivityInfo">
    insert into activity_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="introductionOfActivity != null">
        introduction_of_activity,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="introductionOfActivity != null">
        #{introductionOfActivity,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weixin.yixing.entity.ActivityInfo">
    update activity_info
    <set>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="introductionOfActivity != null">
        introduction_of_activity = #{introductionOfActivity,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weixin.yixing.entity.ActivityInfo">
    update activity_info
    set activity_id = #{activityId,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      introduction_of_activity = #{introductionOfActivity,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>