<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.yixing.dao.GiftRecordMapper">
  <resultMap id="BaseResultMap" type="com.weixin.yixing.entity.GiftRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="presenter_id" jdbcType="VARCHAR" property="presenterId" />
    <result column="presenter_name" jdbcType="VARCHAR" property="presenterName" />
    <result column="work_id" jdbcType="VARCHAR" property="workId" />
    <result column="gift_id" jdbcType="INTEGER" property="giftId" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, presenter_id, presenter_name, work_id, gift_id, out_trade_no, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gift_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gift_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weixin.yixing.entity.GiftRecord">
    insert into gift_record (id, presenter_id, presenter_name, 
      work_id, gift_id, out_trade_no, 
      create_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{presenterId,jdbcType=VARCHAR}, #{presenterName,jdbcType=VARCHAR}, 
      #{workId,jdbcType=VARCHAR}, #{giftId,jdbcType=INTEGER}, #{outTradeNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.weixin.yixing.entity.GiftRecord">
    insert into gift_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="presenterId != null">
        presenter_id,
      </if>
      <if test="presenterName != null">
        presenter_name,
      </if>
      <if test="workId != null">
        work_id,
      </if>
      <if test="giftId != null">
        gift_id,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="presenterId != null">
        #{presenterId,jdbcType=VARCHAR},
      </if>
      <if test="presenterName != null">
        #{presenterName,jdbcType=VARCHAR},
      </if>
      <if test="workId != null">
        #{workId,jdbcType=VARCHAR},
      </if>
      <if test="giftId != null">
        #{giftId,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weixin.yixing.entity.GiftRecord">
    update gift_record
    <set>
      <if test="presenterId != null">
        presenter_id = #{presenterId,jdbcType=VARCHAR},
      </if>
      <if test="presenterName != null">
        presenter_name = #{presenterName,jdbcType=VARCHAR},
      </if>
      <if test="workId != null">
        work_id = #{workId,jdbcType=VARCHAR},
      </if>
      <if test="giftId != null">
        gift_id = #{giftId,jdbcType=INTEGER},
      </if>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weixin.yixing.entity.GiftRecord">
    update gift_record
    set presenter_id = #{presenterId,jdbcType=VARCHAR},
      presenter_name = #{presenterName,jdbcType=VARCHAR},
      work_id = #{workId,jdbcType=VARCHAR},
      gift_id = #{giftId,jdbcType=INTEGER},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByWorksId"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gift_record
    where work_id = #{worksId,jdbcType=VARCHAR}
    ORDER By create_time DESC
  </select>
  <select id="selectByOutTradeNo"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gift_record
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </select>
</mapper>